<div *ngIf="card.lista == column">
  <div class="two shadow">
    <div class="px-3">
      <div
        class="
          card-header
          d-flex
          justify-content-between
          px-1
          align-items-center
          pb-2
        "
      >
        <input
          class="form-control name"
          type="text"
          autofocus
          placeholder="Insira o título"
          [(ngModel)]="titulo"
          [readonly]="!edit"
        />
      </div>
    </div>
    <div class="px-3 pt-3">
      <textarea
        class="form-control conteudo"
        type="text"
        placeholder="Insira a descrição"
        [readonly]="!edit"
        [(ngModel)]="conteudo"
        >{{ conteudo }}</textarea
      >
    </div>

    <div class="card-footer bg-transparent">
      <a class="btn" (click)="editMode()" *ngIf="!edit">
        <i class="fa-2x fas fa-edit"></i>
      </a>

      <a class="btn" (click)="cancelEdit()" *ngIf="edit">
        <i class="fa-2x fas fa-ban"></i>
      </a>

      <a class="btn" (click)="saveCard()" *ngIf="edit">
        <i class="fa-2x fas fa-save"></i>
      </a>
      <a class="btn" (click)="deleteCard()" *ngIf="!edit">
        <i class="fa-2x fas fa-trash-alt"></i>
      </a>
      <a
        class="btn"
        (click)="moveCardLeft()"
        *ngIf="!edit"
        [ngClass]="isTheFirstColumn ? 'invisible' : 'visible'"
      >
        <i class="fa-2x fas fa-arrow-left"></i>
      </a>
      <a
        [ngClass]="card.id == '' ? 'invisible' : 'visible'"
        class="btn"
        (click)="moveCardRight()"
        *ngIf="!edit"
        [ngClass]="isTheLastColumn ? 'invisible' : 'visible'"
      >
        <i class="fa-2x fas fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
